<p id="notice"></p>
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h3>注文履歴一覧</h3>
        <table>
          <thead>
            <th>購入日時</th>
            <th>購入者</th>
            <th>注文個数</th>
            <th></th>
            <th></th>
          </thead>
          <tbody>
          <% @orders.each do |order| %>
            <tr>
              <td>
                <%= order.created_at %>
              </td>
              <td><%= order.customer.name %></td>
              <td>
                <%= order.total_amount %>
  			      </td>
              <td></td>
              <td></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

