<p id="notice"></p>
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0">
    		 <%= image_tag @item.get_image %>
        <table class="table">
	      <tbody>
	          <tr>
	            <td>
	              <%= @item.name %>
	            </td>
	            <td>
	              <%= @item.introduction %>
	            </td>
	            <td>
	              ¥<%= @item.price %>
	            </td>
	          </tr>


	      </tbody>
	    </table>


	   </div>
	   </div>
	   </div>
	   </div>
